---
layout: ""
page_title: "Provider: Buddy"
description: |-
  The Buddy provider provides resources to interact with a Buddy CI/CD API.
---

# Buddy Provider

The Buddy provider provides resources to interact with a Buddy CI/CD API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}